.light-colors {
  --fg: #000;
  --bg: #fff;
  --primary: hsl(240, 100%, 60%);
  --primary-highlight: hsl(240, 100%, 70%);
  --primary-disabled: hsl(240, 100%, 80%);

  --gray: hsl(0, 0%, 90%);
  --gray-highlight: hsl(0, 0%, 50%);
  --gray-disabled: hsl(0, 0%, 100%);

  --green: hsl(140, 100%, 30%);
  --green-highlight: hsl(140, 100%, 40%);
  --green-disabled: hsl(140, 20%, 50%);

  --red: hsl(350, 100%, 30%);
  --red-highlight: hsl(350, 100%, 40%);
  --red-disabled: hsl(350, 40%, 30%);
}

.dark-colors {
  --fg: #fff;
  --bg: hsl(239, 46%, 25%);
  --primary: hsl(283, 100%, 35%);
  --primary-highlight: hsl(283, 100%, 45%);
  --primary-disabled: hsl(283, 100%, 20%);

  --gray: hsl(239, 46%, 45%);
  --gray-highlight: hsl(239, 46%, 60%);
  --gray-disabled: hsl(239, 46%, 25%);
}

a {
  text-decoration: none;
  color: var(--primary);
}

input {
  accent-color: var(--primary);
}

textarea {
  accent-color: var(--primary);
}

:root {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--fg);
  border-color: var(--fg);
  --ui-font: Cantarell, sans-serif;
  --ui-font-size: 13.5px;
  --text-font: serif;
}

button {
  text-transform: lowercase;
  border-radius: 0;
  background-color: var(--primary);
  font-weight: bold;
  font-size: var(--ui-font-size);
  color: white;
  border: none;
  /*
  clip-path: polygon(
    10% 0%,
    90% 0%,
    100% 10%,
    100% 90%,
    90% 100%,
    10% 100%,
    0% 90%,
    0% 10%
  ); */
  padding: 7px;
}

button:hover {
  background-color: var(--primary-highlight);
}

button:disabled {
  background-color: var(--primary-disabled);
  color: var(--gray);
}

.gray-button {
  background-color: var(--gray);
  color: var(--fg);
}
.gray-button:hover {
  background-color: var(--primary-highlight);
  color: white;
}
.gray-button:disabled {
  background-color: var(--gray-disabled);
}

.green-button {
  background-color: var(--green);
}
.green-button:hover {
  background-color: var(--green-highlight);
}
.green-button:disabled {
  background-color: var(--green-disabled);
}

.red-button {
  background-color: var(--red);
}
.red-button:hover {
  background-color: var(--red-highlight);
}
.red-button:disabled {
  background-color: var(--red-disabled);
}
