.light-colors {
  --fg: #000;
  --bg: #fff;
  --primary: hsl(240, 100%, 60%);
  --primary-highlight: hsl(240, 100%, 70%);
  --primary-disabled: hsl(240, 100%, 80%);

  --gray: hsl(0, 0%, 50%);
  --gray-highlight: hsl(0, 0%, 30%);
  --primary-disabled: hsl(0, 0%, 70%);
}

.dark-colors {
  --fg: #fff;
  --bg: hsl(239, 46%, 25%);
  --primary: hsl(283, 100%, 35%);
  --primary-highlight: hsl(283, 100%, 45%);
  --primary-disabled: hsl(283, 100%, 20%);

  --gray: hsl(0, 0%, 50%);
  --gray-highlight: hsl(0, 0%, 70%);
  --primary-disabled: hsl(0, 0%, 30%);
}

a {
  text-decoration: none;
  color: var(--primary);
}

input {
  accent-color: var(--primary);
}

body {
  background-color: var(--bg);
  color: var(--fg);
  border-color: var(--fg);
  --accent-font: "Cantarell", "sans-serif";
  --text-font: "serif";
}

button {
  border-radius: 0;
  background-color: var(--primary);
  font-weight: bold;
  color: white;
  border: none;
  /*
  clip-path: polygon(
    10% 0%,
    90% 0%,
    100% 10%,
    100% 90%,
    90% 100%,
    10% 100%,
    0% 90%,
    0% 10%
  ); */
  padding: 7px;
}

button:hover {
  background-color: var(--primary-highlight);
}

button:disabled {
  background-color: var(--primary-disabled);
  color: var(--gray);
}

.gray-button {
  background-color: var(--gray);
}
.gray-button:hover {
  background-color: var(--primary-highlight);
}
.gray-button:disabled {
  background-color: var(--gray-disabled);
}
